@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    color: #4c6986;
}

/* UTILITES */

.toggle {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-bottom: 1px solid #4c69861e;
    box-shadow: 0 2px 2px #4c69861c;
}

.light {
    margin-top: -2px;
}

.dark {
    margin-top: 3px;
}

.toggle-btn {
    background-color: darkgray;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    margin: 0 10px;
    padding: 5px;
}

.inner-circle {
    background-color: white;
    width: 25px;
    height: 25px;
    margin-top: -2px;
    border-radius: 50%;
    transition: all 250ms;
    cursor: pointer;
}

.toggle-btn.toggled > .inner-circle {
    transform: translateX(25px);
    background-color: #333;
}


.title {
    max-width: 500px;
}

.wrapper{
    max-width: 1400px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

.restart {
    color: #4c6986;
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #4c6986;
    transition: all 0.2s ease;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
}

.restart:hover {
    color: white;
    background-color: #4c6986;
}

.light-title-color {
    color: white;
}

.light-restart-button {
    color: white;
    border: 2px solid #fff;
}


.game {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.header {
    display: flex;
    color: #9a9a9a;
    font-size: 24px;
}

.header .player-X {
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}

.player-X.active {
    color: #42bed7;
    border-color: #42bed7;
}

.header .player-O {
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}


.player-O.active {
    color: #d7bafb;
    border-color: #d7bafb;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0;
    flex-grow: 1;
    padding: 10px;
}

.board-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    cursor: pointer;
}

/* These twe selectors need to be redo */
.board-tile:not(:nth-child(3n)) {
    border-right: 3px solid rgba(137, 163, 189, 0.8);
}

.board-tile:not(:nth-last-child(-n+3)) {
    border-bottom: 3px solid rgba(137, 163, 189, 0.8);;
}

.board-tile:hover {
    background-color: #eee;
}

.tile-x {
    color: #42bed7;
}

.tile-o {
    color: #d7bafb;
}

.tile-winner span{
    color: #23ce6b;
}

.hidden {
    transition: all 9s;
    display: none;
}

.winner-area-wrapper {
    display: flex;
    flex-direction: column;
}

.winning-img {
    background-color: rgb(231, 230, 230);
    border-radius: 50%;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    align-self: center;
}

.winner-type {
    font-size: 44px;
}

@media only screen and  (max-width: 1200px) {
    .wrapper {
        flex-direction: column;
    }

    .left {
        margin-bottom: 50px;
    }
}

